services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=rmuser
      - RABBITMQ_DEFAULT_PASS=rmpassword
    ports:
      - 5672:5672
      - 15672:15672

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - OTEL_ENABLE=true
    ports:
      - 4317:4317
      - 4318:4318
      - 16686:16686

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
